/vendor/
node_modules/
npm-debug.log
yarn-error.log

Laravel 4 specific
bootstrap/compiled.php
app/storage/

Laravel 5 & Lumen specific
public/storage
public/hot

Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
storage/framework/sessions/BOWgb0HCFRXtd9bue7kuxBPh66F9ZOZD1Ac3ER23
storage/framework/sessions/9NleZB9zhYvepvYZacs04vccJM3Yw8jV7HinbQFH
storage/framework/views/84a9c718f06de6abdf50998636fe87161549e87b.php
